# 1. 라이브러리 & 압축 해제

In [14]:
import zipfile
import os
import numpy as np
import pandas as pd

In [15]:
extractall_path = 'open'
zipfile.ZipFile('open.zip').extractall(extractall_path)
os.listdir(extractall_path)

['sample_submission.csv', 'test_x_df.csv', 'train_x_df.csv', 'train_y_df.csv']

# 2. 데이터 불러오기

sample_id : 개별 샘플의 인덱스

time : x_df는 0분 ~ 1379분, y_df는 0분 ~ 119분의 값을 갖습니다. 동일한 샘플 내 시간 정보

coin_index : 10가지 종류의 코인에 대한 비식별화 인덱스 (0 ~9)

open : open price

high : high price

low : low price

close : close price

volume : 거래량

quote_av : quote asset volume

trades : 거래 건 수

tb_base_av : taker buy base asset volume

tb_quote_av : taker buy quote asset volume

In [16]:
data_path = './open'
train_x_df = pd.read_csv(data_path  + "/train_x_df.csv")
train_y_df = pd.read_csv(data_path  + "/train_y_df.csv")
test_x_df = pd.read_csv(data_path  + "/test_x_df.csv")

In [19]:
train_x_df

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,9,0.983614,0.983614,0.983128,0.983246,0.001334,10.650987,0.009855,0.000848,6.771755
1,0,1,9,0.983245,0.983612,0.982453,0.982693,0.001425,11.375689,0.016137,0.000697,5.565188
2,0,2,9,0.982694,0.983612,0.982403,0.983002,0.001542,12.301942,0.014166,0.000905,7.225459
3,0,3,9,0.983009,0.984848,0.983009,0.984486,0.002520,20.134695,0.021557,0.001171,9.353000
4,0,4,9,0.984233,0.984606,0.983612,0.984164,0.002818,22.515448,0.021434,0.001799,14.372534
...,...,...,...,...,...,...,...,...,...,...,...,...
10572175,7660,1375,8,1.000277,1.000499,1.000000,1.000388,0.574281,103.592369,0.665410,0.266649,48.100475
10572176,7660,1376,8,1.000333,1.000388,0.999834,1.000277,1.350429,243.535217,0.804037,0.487857,87.985291
10572177,7660,1377,8,1.000277,1.000388,0.999834,1.000277,0.692170,124.846756,0.781857,0.360461,65.018936
10572178,7660,1378,8,1.000166,1.000222,0.999778,1.000056,0.556481,100.351929,0.670955,0.296588,53.486565
10572179,7660,1379,8,1.000000,1.000555,0.999889,0.999945,1.385710,249.935760,1.264279,0.735243,132.617462

In [27]:
def df_2_3D(df):
    # 3차원 배열로 변환
    sample_size = len(df.sample_id.value_counts())
    time_size = len(df.time.value_counts())
    feature_size = df.iloc[:,2:].shape[1]
    
    array_3d = df.iloc[:,2:].values.reshape(sample_size, time_size, feature_size)
    return array_3d

In [28]:
train_x_3d = df_2_3D(train_x_df)
train_y_3d = df_2_3D(train_y_df)
test_x_3d = df_2_3D(test_x_df)

In [29]:
print(train_x_3d.shape)
print(train_y_3d.shape)
print(test_x_3d.shape)

(7661, 1380, 10)
(7661, 120, 10)
(535, 1380, 10)